@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

.caret {
    animation: blink 1s steps(1) infinite;
    margin-left: -0.25rem;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #020617;
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #475569;
}

.terminal::before {
    content: "";
    background: linear-gradient(
        rgba(255, 255, 255, 0.01) 10%,
        rgba(255, 255, 255, 0%) 100%
    );
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 32rem;
    transform: skew(-18deg) translate(-55%);
    z-index: 100;
    pointer-events: none;
}
